body {
  font-size: 14px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: black;
  margin: 0 auto;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

*:focus {
  outline: none;
  }
.blackline {
  border-color: rgb(65, 59, 59);
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
html, .wrapper {
  width: 100%;
}
.top-menu {
  position: fixed;
  right: 15px;
  top: 10px;
  text-align: right;
  width: 120px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0 5px 0 0;
  margin: 0;
  appearance: none;
  font-size: 20px;
  line-height: 37px;
  border-right: 5px rgb(219, 219, 219) solid;
}
button:hover {
  color: rgb(185, 0, 0);
  border-right: 5px yellow solid;
}



div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 500px;
  background: url(noshadow.png) center center/760px auto no-repeat;
}

h2.author {
  width: 100%;
  text-align: center;
}
.box {
  min-height: 30px;
  background-color: rgba(241, 241, 223, 0.514);
  width:490px;
  padding: 12px;
  margin: 5px auto;
  text-align: left;
  font-size: small;
}
p.inside {
  padding: 0px;
}
p.small, details, i.far.fa-copyright {
  font-size: small;
}
p.center {
  text-align: center;
}
summary {
  cursor: pointer;
  color: rgb(185, 0, 0);
}
img.helloworld {
  width: 135px;
  height: 135px;
  margin: 0 20px 0 0;
  border-radius: 77px;
}
.wrappin {
  display: flex;
  justify-content: start;
}
img#github {
  padding-left: 40px;
}
i.fab.fa-twitter {
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 4px;
  border-radius: 5px;
  margin-top: 6px;
  font-size: 9px;
}
footer {
  height: 60px;
  line-height: 60px;
}

