body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
div {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 300px;
  background: url(noshadow.png) center center/600px auto no-repeat;
}

h3.author {
  width: 100%;
  text-align: center;
}