body {
  font-size: 14px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: black;
  margin: 0 auto;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
html, .wrapper {
  width: 100%;
  height: 100vh;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 300px;
  background: url(noshadow.png) center center/760px auto no-repeat;
}

h2.author {
  width: 100%;
  text-align: center;
}

